@import "./media-queries.scss";

// @include tablet {

// }

body {
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
  background-color: #1e213f;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

p,
ul,
h2,
li,
input {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.title {
  font-weight: 700;

  margin-top: 2rem;
  @include tablet {
    margin-top: 5rem;
  }

  margin: 0 auto;
  color: #d7e0ff;
  z-index: 10;
  text-align: center;
  margin-bottom: 2.4375rem;
  @include tablet {
    margin-bottom: 3.4375rem;
  }
  font-family: "Kumbh Sans", sans-serif;
  h1 {
    font-size: 1.5rem;
    @include tablet {
      font-size: 2rem;
    }
  }
}

nav {
  font-weight: 700;
  margin-bottom: 3rem;

  @include tablet {
    margin-bottom: 6.8125rem;
  }
  display: flex;
  justify-content: center;
  .container {
    width: 20.4375rem;
  }
  ul {
    // margin: 0 auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20.4375rem;
    height: 3.9375rem;
    border-radius: 1.9688rem;
    @include tablet {
      width: 23.3125rem;
    }
    background-color: #161932;
    li {
      color: #d7e0ff;
      text-align: center;

      font-size: 0.75rem;
      border-radius: 1.6563rem;
      width: 32.41%;
      height: 76.1%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li:hover {
      cursor: pointer;
    }

    li.selected:hover {
      cursor: auto;
    }

    .selected {
      background-color: #f87070;
      color: #1e213f;
    }
  }
}

.pomodoro-container {
  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
  border-radius: 50%;
  width: 18.75rem; //the image and scales nicely here due to viewbox
  height: 18.75rem;
  @include tablet {
    width: 25.625rem;
    height: 25.625rem;
  }
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  //z-index: -1;
  .inner-container {
    background-color: #161932;
    width: 89.267%;
    height: 89.267%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d7e0ff;

    .time-container {
      padding-top: 4%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 5rem;
      @include tablet {
        font-size: 6.25rem;
      }
      font-weight: 700;
      letter-spacing: -4px;
    }
    .pause-button {
      text-align: center;
      padding-left: 13.5px;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.0625rem;
      letter-spacing: 0.8203rem;
      @include tablet {
        font-size: 1rem;
        line-height: 1.25rem;
        letter-spacing: 0.9375rem;
      }
    }

    .time-remaining {
      width: 100%;
    }
    .colon {
      text-align: center;
      padding: 0;
    }
    #time-remaining-left {
      text-align: right;
      padding: 0;
    }
    #time-remaining-right {
      text-align: left;
      padding: 0;
    }
  }

  h1 {
    //font-family: "Kumbh Sans", sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 99px;
    letter-spacing: -4px;
    text-align: left;
  }
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  svg:hover {
    cursor: pointer;
  }
  .circle {
    fill: none;
    stroke-width: 0.7188rem; //controls the width of the time bar
    stroke: #f87070;
  }
  .circle-bg {
    fill: none;
    stroke-width: 0.625rem;
    stroke: #161932;
  }
}

.settings {
  display: flex;
  justify-content: center;
  margin-top: 4.9735rem;
  @include tablet {
    margin-top: 9rem;
  }
}

.settings:hover {
  cursor: pointer;
}

.modal {
  background-color: #ffffff;
  z-index: 10;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20.4375rem;
  border-radius: 15px;
  @include tablet {
    width: 33.75rem;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #e3e1e1 1px solid;

    h2 {
      font-size: 1.25rem;
      font-weight: 700;
      color: #161932;
      margin: 1.5rem;
      @include tablet {
        margin: 2.5rem;
        margin-top: 2.125rem;
        margin-bottom: 1.9375rem;

        font-size: 1.75rem;
        line-height: 2.1875rem;
      }
    }
    img {
      height: 0.875rem;
      width: 0.875rem;
      margin: 1.8125rem 1.5rem;
      @include tablet {
        margin: 2.9775rem 2.415rem 2.04rem;
        height: 0.7956rem;
        width: 0.7956rem;
      }
    }
    img:hover {
      cursor: pointer;
    }
  }
  section {
    h3 {
      margin-top: 1.5rem;
      margin-bottom: 1.125rem;
      text-align: center;
      font-size: 0.6875rem;
      letter-spacing: 0.2644rem;
      font-weight: 700;
      @include tablet {
        text-align: left;
        font-size: 0.8125rem;
        line-height: 1rem;
        letter-spacing: 0.3125rem;
        padding-left: 2.5rem;
      }
    }
    .selection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0rem 1.5rem 0.5rem;

      label {
        font-size: 0.75rem;
        font-weight: 700;
        color: #1e213f;
        opacity: 0.4;
      }
      .stepper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #eff1fa;
        padding: 0.5313rem 1rem;
        width: 6.75rem;

        border-radius: 0.625rem;
        color: #1e213f;

        input {
          border-style: none;
          background-color: #eff1fa;
          width: 5.5rem;
          padding-top: 6px;
          font-size: 0.875rem;
          font-weight: 700;
          // font-family: "Kumbh Sans", sans-serif;
          color: #1e213f;
        }

        input:focus {
          outline: none;
        }

        div {
          display: flex;
          flex-direction: column;
        }
        svg {
          stroke: #1e213f;
          stroke-opacity: 0.25;
        }
        svg:first-child {
          margin-bottom: 0.5625rem;
        }
        svg:hover {
          cursor: pointer;
          stroke: #1e213f;
          stroke-opacity: 1;
        }
      }
    }
    .circle-selection {
      width: 280px;
      margin: auto;
      margin-top: 1.5rem;
      border-top: #e3e1e1 1px solid;

      .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 152px;
        margin: 0 auto;
      }
      h4 {
        font-size: 0.6875rem;
        text-align: center;
        letter-spacing: 0.2644rem;
      }
      .circle-font {
        width: 2.5rem;
        height: 2.5rem;
        background-color: #eff1fa;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0;
        font-size: 15px;
        font-weight: 700;
      }
      .circle-font:hover {
        cursor: pointer;
        outline-style: solid;
        outline-offset: 4px;
        outline-color: #eff1fa;
      }
      .circle-font.selected:hover {
        outline-style: none;
        cursor: auto;
      }
      .selected {
        background-color: #161932;
        color: #ffffff;
      }
      #font-kumbah-sans {
        font-family: "Kumbh Sans", sans-serif;
      }
      #font-roboto-slab {
        font-family: "Roboto Slab", serif;
      }
      #font-mono-space {
        font-family: "Space Mono", monospace;
      }
      .circle-color {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .circle-color img {
        display: none;
      }
      .circle-color.selected img {
        display: block;
      }
      .circle-color:hover {
        cursor: pointer;
      }
      .circle-color.selected:hover {
        cursor: auto;
      }

      img {
        width: 1rem;
        height: 1rem;
      }

      #color-tomato {
        background: #f87070;
      }
      #color-tomato:hover:not(.selected) {
        cursor: pointer;
        outline-style: solid;
        outline-offset: 4px;
        outline-color: #f87070;
      }
      #color-aqua {
        background: #70f3f8;
      }
      #color-aqua:hover {
        cursor: pointer;
        outline-style: solid;
        outline-offset: 4px;
        outline-color: #70f3f8;
      }
      #color-purple {
        background: #d881f8;
      }

      #color-purple:hover:not(.selected) {
        cursor: pointer;
        outline-style: solid;
        outline-offset: 4px;
        outline-color: #d881f8;
      }
    }
  }
  .apply {
    background-color: #f87070;
    color: #ffffff;
    border-radius: 1.6563rem;
    width: 8.75rem;
    font-size: 1rem;
    height: 3.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 1.5625rem;
  }
  .apply:hover {
    cursor: pointer;
    background-color: #ff868a;
  }
}
