body {
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
  background-color: #1e213f;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

p,
ul,
h2,
li {
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
  color: #d7e0ff;
  z-index: 10;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2.4375rem;
  h1 {
    font-size: 1.5rem;
  }
}

nav {
  font-weight: 700;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  .container {
    width: 20.4375rem;
  }
  ul {
    // margin: 0 auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20.4375rem;
    height: 3.9375rem;
    border-radius: 1.9688rem;
    background-color: #161932;
    li {
      color: #d7e0ff;
      text-align: center;
      opacity: 0.4;
      font-size: 0.75rem;
      border-radius: 1.6563rem;
      width: 32.41%;
      height: 76.1%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li:hover {
      cursor: pointer;
    }

    .selected {
      opacity: 1;
      background-color: #f87070;

      color: #1e213f;
    }
  }
}

.pomodoro-container {
  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
  border-radius: 50%;
  width: 18.75rem; //the image and scales nicely here due to viewbox
  height: 18.75rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
  .inner-container {
    background-color: #161932;
    width: 89.267%;
    height: 89.267%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-family: sans-serif;
    align-self: center;
    color: #d7e0ff;
  }
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .circle {
    fill: none;
    stroke-width: 0.7188rem; //controls the width of the time bar
    stroke: #f87070;
  }
  .circle-bg {
    fill: none;
    stroke-width: 0.625rem;
    stroke: #161932;
  }
}

.settings {
  display: flex;
  justify-content: center;
  margin-top: 4.9735rem;
}

.settings:hover {
  cursor: pointer;
}

.modal {
  background-color: #ffffff;
  z-index: 10;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20.4375rem;
  border-radius: 15px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #e3e1e1 1px solid;

    h2 {
      font-size: 1.25rem;
      font-weight: 700;
      color: #161932;
      margin: 1.5rem;
    }
    img {
      height: 0.875rem;
      width: 0.875rem;
      margin: 29px 24px;
    }
    img:hover {
      cursor: pointer;
    }
  }
  section {
    h3 {
      margin-top: 1.5rem;
      margin-bottom: 1.125rem;
      text-align: center;
      font-size: 0.6875rem;
      letter-spacing: 0.2644rem;
      font-weight: 700;
    }
    .selection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0rem 1.5rem 0.5rem;

      h4 {
        font-size: 0.75rem;
        color: #1c1c1f;
        opacity: 0.4;
      }
      .stepper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #eff1fa;
        padding: 0.5313rem 1rem;
        width: 6.75rem;
        font-size: 0.875rem;
        border-radius: 0.625rem;
        color: #1e213f;

        div {
          display: flex;
          flex-direction: column;
        }
        img:first-child {
          margin-bottom: 0.5625rem;
        }
      }
    }
  }
}
