body {
  font-family: "Kumbh Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1e213f;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

p,
ul,
h2,
li,
input {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
  color: #d7e0ff;
  z-index: 10;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2.4375rem;
}

.title h1 {
  font-size: 1.5rem;
}

nav {
  font-weight: 700;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .container {
  width: 20.4375rem;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20.4375rem;
  height: 3.9375rem;
  border-radius: 1.9688rem;
  background-color: #161932;
}

nav ul li {
  color: #d7e0ff;
  text-align: center;
  font-size: 0.75rem;
  border-radius: 1.6563rem;
  width: 32.41%;
  height: 76.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul li.selected:hover {
  cursor: auto;
}

nav ul .selected {
  background-color: #f87070;
  color: #1e213f;
}

.pomodoro-container {
  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  -webkit-box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
          box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
  border-radius: 50%;
  width: 18.75rem;
  height: 18.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: -1;
}

.pomodoro-container .inner-container {
  background-color: #161932;
  width: 89.267%;
  height: 89.267%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d7e0ff;
}

.pomodoro-container .inner-container .time-container {
  padding-top: 4%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -4px;
}

.pomodoro-container .inner-container .pause-button {
  text-align: center;
  padding-left: 13.5px;
  letter-spacing: 0.8203rem;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  letter-spacing: 0.8203rem;
}

.pomodoro-container .inner-container .time-remaining {
  width: 45%;
}

.pomodoro-container .inner-container .colon {
  width: auto;
  text-align: center;
}

.pomodoro-container .inner-container #time-remaining-left {
  text-align: right;
}

.pomodoro-container .inner-container #time-remaining-right {
  text-align: left;
}

.pomodoro-container h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 99px;
  letter-spacing: -4px;
  text-align: left;
}

.pomodoro-container svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pomodoro-container .circle {
  fill: none;
  stroke-width: 0.7188rem;
  stroke: #f87070;
}

.pomodoro-container .circle-bg {
  fill: none;
  stroke-width: 0.625rem;
  stroke: #161932;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4.9735rem;
}

.settings:hover {
  cursor: pointer;
}

.modal {
  background-color: #ffffff;
  z-index: 10;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20.4375rem;
  border-radius: 15px;
}

.modal header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #e3e1e1 1px solid;
}

.modal header h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #161932;
  margin: 1.5rem;
}

.modal header img {
  height: 0.875rem;
  width: 0.875rem;
  margin: 29px 24px;
}

.modal header img:hover {
  cursor: pointer;
}

.modal section h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.125rem;
  text-align: center;
  font-size: 0.6875rem;
  letter-spacing: 0.2644rem;
  font-weight: 700;
}

.modal section .selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 1.5rem 0.5rem;
}

.modal section .selection label {
  font-size: 0.75rem;
  font-weight: 700;
  color: #1e213f;
  opacity: 0.4;
}

.modal section .selection .stepper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eff1fa;
  padding: 0.5313rem 1rem;
  width: 6.75rem;
  border-radius: 0.625rem;
  color: #1e213f;
}

.modal section .selection .stepper input {
  border-style: none;
  background-color: #eff1fa;
  width: 5.5rem;
  padding-top: 6px;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
  color: #1e213f;
}

.modal section .selection .stepper input:focus {
  outline: none;
}

.modal section .selection .stepper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal section .selection .stepper svg {
  stroke: #1e213f;
  stroke-opacity: 0.25;
}

.modal section .selection .stepper svg:first-child {
  margin-bottom: 0.5625rem;
}

.modal section .selection .stepper svg:hover {
  cursor: pointer;
  stroke: #1e213f;
  stroke-opacity: 1;
}

.modal section .circle-selection {
  width: 280px;
  margin: auto;
  margin-top: 1.5rem;
  border-top: #e3e1e1 1px solid;
}

.modal section .circle-selection .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 152px;
  margin: 0 auto;
}

.modal section .circle-selection h4 {
  font-size: 0.6875rem;
  text-align: center;
  letter-spacing: 0.2644rem;
}

.modal section .circle-selection .circle-font {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #eff1fa;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0;
  font-size: 15px;
  font-weight: 700;
}

.modal section .circle-selection .circle-font:hover {
  cursor: pointer;
  outline-style: solid;
  outline-offset: 4px;
  outline-color: #eff1fa;
}

.modal section .circle-selection .circle-font.selected:hover {
  outline-style: none;
  cursor: auto;
}

.modal section .circle-selection .selected {
  background-color: #161932;
  color: #ffffff;
}

.modal section .circle-selection #kumbah-sans {
  font-family: "Kumbh Sans", sans-serif;
}

.modal section .circle-selection #roboto-slab {
  font-family: "Roboto Slab", serif;
}

.modal section .circle-selection #space-mono {
  font-family: "Space Mono", monospace;
}

.modal section .circle-selection .circle-color {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal section .circle-selection .circle-color img {
  display: none;
}

.modal section .circle-selection .circle-color.selected img {
  display: block;
}

.modal section .circle-selection .circle-color:hover {
  cursor: pointer;
}

.modal section .circle-selection .circle-color.selected:hover {
  cursor: auto;
}

.modal section .circle-selection img {
  width: 1rem;
  height: 1rem;
}

.modal section .circle-selection #color-tomato {
  background: #f87070;
}

.modal section .circle-selection #color-tomato:hover:not(.selected) {
  cursor: pointer;
  outline-style: solid;
  outline-offset: 4px;
  outline-color: #f87070;
}

.modal section .circle-selection #color-aqua {
  background: #70f3f8;
}

.modal section .circle-selection #color-aqua:hover {
  cursor: pointer;
  outline-style: solid;
  outline-offset: 4px;
  outline-color: #70f3f8;
}

.modal section .circle-selection #color-purple {
  background: #d881f8;
}

.modal section .circle-selection #color-purple:hover:not(.selected) {
  cursor: pointer;
  outline-style: solid;
  outline-offset: 4px;
  outline-color: #d881f8;
}

.modal .apply {
  background-color: #f87070;
  color: #ffffff;
  border-radius: 1.6563rem;
  width: 8.75rem;
  font-size: 1rem;
  height: 3.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: relative;
  top: 1.5625rem;
}

.modal .apply:hover {
  cursor: pointer;
  background-color: #ff868a;
}
/*# sourceMappingURL=styles.css.map */